@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400:500;700&display=swap");

@mixin font($font-size, $line-height, $font-weight: null) {
  font: $font-weight #{$font-size} / #{$line-height} 'Roboto', sans-serif;
}

$tablet: 768px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

body {
  background: #252820;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  background-color: #2D9CDB;
  border-radius: 16px;
  padding: 62px;
  @media (max-width: $tablet) {
    padding: 22px;
  }
}

.product {
  &__points {
    display: flex;
    @media (max-width: $tablet) {
      display: none;
    }
    &--indent {
      padding-bottom: 20px;
    }
  }
  &__text {
    @include font(20px, 23px, 500);
    color: #FFFFFF;
    @media (max-width: $tablet) {
      color: #828282;
      @include font(16px, 19px);
    }
    &--indent {

    }
  }
  &__items {
    @media (max-width: $tablet) {
      border-radius: 16px;
      background: #FFFFFF;
      padding: 0 25px;
    }
  }

  &__item {
    background: #FFFFFF;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: $tablet) {
      border-radius: 16px;
    }

    &--indent:not(:last-child) {
      @media (min-width: $tablet) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: $tablet) {
      //display: block;
      padding: 20px 0;
      //padding: 20px;
      &:first-child {
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
      }
      &:last-child {
        border-bottom-right-radius: 16px;
        border-bottom-left-radius: 16px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #828282;
      }
    }
  }

  &__abo {
    display: flex;
    align-items: center;
    @include font(20px, 23px, 500);
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    width: 100%;

    &--indent {
      @media (max-width: $tablet) {
        padding-bottom: 25px;
      }
    }
  }

  &__picture-warp {

    &--indent {
      margin-right: 30px;
    }
  }

  &__picture {
    width: 55px;
    height: 55px;
    @media (max-width: $tablet) {
      width: 44px;
      height: 44px;
    }
  }

  &__block {
    width: 100%;
    white-space: nowrap;

    &--indent {
      padding-right: 77px;
    }
  }

  &__title {
    @include font(20px, 23px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media (max-width: $tablet) {
      @include font(16px, 19px);
    }

    &--indent {
      margin-bottom: 5px;
    }
  }

  &__month {
    display: none;
    @media (max-width: $tablet) {
      display: block;
      color: #828282;
      @include font(16px, 19px);
    }
    &--indent {
      margin-bottom: 3px;
    }
  }
  &__price {
    @include font(20px, 23px, 500);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media (max-width: $tablet) {
      @include font(16px, 19px, bold);
    }

    &--bold {
      font-weight: bold;
    }
  }

  &__old {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

//@media (min-width: $tablet) {
  .col {
    width: 16.66%;
    padding: 0 8px;
  }

  .col-2 {
    width: 33.33%;
    padding: 0 8px;
  }

  .col-3 {
    width: 55%;
  }

  .col-4 {
    width: 66.66%;
  }
//}

@media (max-width: $tablet) {
  .col-md-2 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 100%;
  }
}
